Professor Codes/6.SOAP/non-project/SOAP-client/src/wsdl/localhost_8080/SOAP/AddressedGreeterService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://addressedgreetings.se.cdm.depaul.edu" xmlns:ns2="http://soap.se.cdm.depaul.edu/" xmlns:ns1="http://www.w3.org/2005/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://addressedgreetings.se.cdm.depaul.edu">

<xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>

<xs:import namespace="http://soap.se.cdm.depaul.edu/" schemaLocation="http://localhost:8080/SOAP/AddressedGreeterService?xsd=1"/>

<xs:element name="getEPR" type="tns:getEPR"/>

<xs:element name="getEPRResponse" type="tns:getEPRResponse"/>

<xs:element name="hello" nillable="true" type="ns2:hello"/>

<xs:element name="helloResponse" nillable="true" type="ns2:helloResponse"/>

<xs:complexType name="getEPR">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getEPRResponse">
<xs:sequence>
<xs:element name="return" type="ns1:EndpointReferenceType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>