Professor Codes/7.REST/sample-project/account/account-web/src/main/webapp/WEB-INF/wsdl/AccountService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.account.se.cdm.depaul.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.account.se.cdm.depaul.edu/" name="AccountService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.account.se.cdm.depaul.edu/" schemaLocation="http://localhost:8080/account-web/AccountService?xsd=1"/>
</xsd:schema>
</types>
<message name="openAccount">
<part name="parameters" element="tns:openAccount"/>
</message>
<message name="openAccountResponse">
<part name="parameters" element="tns:openAccountResponse"/>
</message>
<message name="NegativeBalanceException">
<part name="fault" element="tns:NegativeBalanceException"/>
</message>
<message name="deposit">
<part name="parameters" element="tns:deposit"/>
</message>
<message name="depositResponse">
<part name="parameters" element="tns:depositResponse"/>
</message>
<message name="AccountNotFoundException">
<part name="fault" element="tns:AccountNotFoundException"/>
</message>
<message name="withdraw">
<part name="parameters" element="tns:withdraw"/>
</message>
<message name="withdrawResponse">
<part name="parameters" element="tns:withdrawResponse"/>
</message>
<message name="InsufficientBalanceException">
<part name="fault" element="tns:InsufficientBalanceException"/>
</message>
<message name="getAllAccounts">
<part name="parameters" element="tns:getAllAccounts"/>
</message>
<message name="getAllAccountsResponse">
<part name="parameters" element="tns:getAllAccountsResponse"/>
</message>
<message name="transferFunds">
<part name="parameters" element="tns:transferFunds"/>
</message>
<message name="transferFundsResponse">
<part name="parameters" element="tns:transferFundsResponse"/>
</message>
<message name="close">
<part name="parameters" element="tns:close"/>
</message>
<message name="closeResponse">
<part name="parameters" element="tns:closeResponse"/>
</message>
<portType name="Account">
<operation name="openAccount">
<input wsam:Action="http://service.account.se.cdm.depaul.edu/Account/openAccountRequest" message="tns:openAccount"/>
<output wsam:Action="http://service.account.se.cdm.depaul.edu/Account/openAccountResponse" message="tns:openAccountResponse"/>
<fault message="tns:NegativeBalanceException" name="NegativeBalanceException" wsam:Action="http://service.account.se.cdm.depaul.edu/Account/openAccount/Fault/NegativeBalanceException"/>
</operation>
<operation name="deposit">
<input wsam:Action="http://service.account.se.cdm.depaul.edu/Account/depositRequest" message="tns:deposit"/>
<output wsam:Action="http://service.account.se.cdm.depaul.edu/Account/depositResponse" message="tns:depositResponse"/>
<fault message="tns:NegativeBalanceException" name="NegativeBalanceException" wsam:Action="http://service.account.se.cdm.depaul.edu/Account/deposit/Fault/NegativeBalanceException"/>
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" wsam:Action="http://service.account.se.cdm.depaul.edu/Account/deposit/Fault/AccountNotFoundException"/>
</operation>
<operation name="withdraw">
<input wsam:Action="http://service.account.se.cdm.depaul.edu/Account/withdrawRequest" message="tns:withdraw"/>
<output wsam:Action="http://service.account.se.cdm.depaul.edu/Account/withdrawResponse" message="tns:withdrawResponse"/>
<fault message="tns:NegativeBalanceException" name="NegativeBalanceException" wsam:Action="http://service.account.se.cdm.depaul.edu/Account/withdraw/Fault/NegativeBalanceException"/>
<fault message="tns:InsufficientBalanceException" name="InsufficientBalanceException" wsam:Action="http://service.account.se.cdm.depaul.edu/Account/withdraw/Fault/InsufficientBalanceException"/>
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" wsam:Action="http://service.account.se.cdm.depaul.edu/Account/withdraw/Fault/AccountNotFoundException"/>
</operation>
<operation name="getAllAccounts">
<input wsam:Action="http://service.account.se.cdm.depaul.edu/Account/getAllAccountsRequest" message="tns:getAllAccounts"/>
<output wsam:Action="http://service.account.se.cdm.depaul.edu/Account/getAllAccountsResponse" message="tns:getAllAccountsResponse"/>
</operation>
<operation name="transferFunds">
<input wsam:Action="http://service.account.se.cdm.depaul.edu/Account/transferFundsRequest" message="tns:transferFunds"/>
<output wsam:Action="http://service.account.se.cdm.depaul.edu/Account/transferFundsResponse" message="tns:transferFundsResponse"/>
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" wsam:Action="http://service.account.se.cdm.depaul.edu/Account/transferFunds/Fault/AccountNotFoundException"/>
<fault message="tns:NegativeBalanceException" name="NegativeBalanceException" wsam:Action="http://service.account.se.cdm.depaul.edu/Account/transferFunds/Fault/NegativeBalanceException"/>
<fault message="tns:InsufficientBalanceException" name="InsufficientBalanceException" wsam:Action="http://service.account.se.cdm.depaul.edu/Account/transferFunds/Fault/InsufficientBalanceException"/>
</operation>
<operation name="close">
<input wsam:Action="http://service.account.se.cdm.depaul.edu/Account/closeRequest" message="tns:close"/>
<output wsam:Action="http://service.account.se.cdm.depaul.edu/Account/closeResponse" message="tns:closeResponse"/>
<fault message="tns:InsufficientBalanceException" name="InsufficientBalanceException" wsam:Action="http://service.account.se.cdm.depaul.edu/Account/close/Fault/InsufficientBalanceException"/>
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" wsam:Action="http://service.account.se.cdm.depaul.edu/Account/close/Fault/AccountNotFoundException"/>
</operation>
</portType>
<binding name="AccountPortBinding" type="tns:Account">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="openAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NegativeBalanceException">
<soap:fault name="NegativeBalanceException" use="literal"/>
</fault>
</operation>
<operation name="deposit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NegativeBalanceException">
<soap:fault name="NegativeBalanceException" use="literal"/>
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="withdraw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NegativeBalanceException">
<soap:fault name="NegativeBalanceException" use="literal"/>
</fault>
<fault name="InsufficientBalanceException">
<soap:fault name="InsufficientBalanceException" use="literal"/>
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getAllAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transferFunds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal"/>
</fault>
<fault name="NegativeBalanceException">
<soap:fault name="NegativeBalanceException" use="literal"/>
</fault>
<fault name="InsufficientBalanceException">
<soap:fault name="InsufficientBalanceException" use="literal"/>
</fault>
</operation>
<operation name="close">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InsufficientBalanceException">
<soap:fault name="InsufficientBalanceException" use="literal"/>
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AccountService">
<port name="AccountPort" binding="tns:AccountPortBinding">
<soap:address location="http://localhost:8080/account-web/AccountService"/>
</port>
</service>
</definitions>